
# your backend application port e.g. 5176
PORT=

# your frontend url where react application run
CLIENT_URL=""

# your MongoDB connection string
URI=""

# your secret key for JWT token e.g. SECRET-124
SECRET_KEY=""